# Ignore Cloudflare Worker project
overlay-remote/

# Node modules
node_modules/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log* 
# User API key config
config.js 

# GitHub Pages custom domain
CNAME 
src/index.ts
test/env.d.ts
test/index.spec.ts
test/tsconfig.json
.vscode/settings.json
